.events {
    &__wrapper {
        &-member__register {
            font-family: 'Satoshi-Regular';
            display: flex;
            justify-content: center;


            &-back {
                position: absolute;
                top: 24px;
                left: 24px;
                z-index: 999;
                cursor: pointer;
            }

            &-form {
                &__group {
                    margin-bottom: 1.5rem;

                    input {
                        background: #EAF4FF;
                        outline: 0px;
                        border: 0px;
                        width: 300px;
                        height: 16px;
                        padding: 16px;
                        border-radius: 8px;
                        border: 2px solid #EAF4FF;
                    }

                    select {
                        background: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23000000' height='800px' width='800px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'%3e%3cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/%3e%3c/svg%3e") no-repeat #EAF4FF;
                        background-size: 1rem;
                        background-position: right 20px top 16px;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        outline: 0px;
                        width: 336px;
                        height: 52px;
                        padding: 16px;
                        border-radius: 8px;
                        border: 2px solid #EAF4FF;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        font-size: 14px;
                        line-height: 18px;
                        color: black;
                        position: relative;

                        .option {
                            color: black;
                        }

                        &.required {
                            border-color: #ff5252;
                        }
                    }

                    &.toggle {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0px 0.5rem;
                        font-size: 18px;
                        line-height: 22px;

                        h5 {
                            margin: 0px;
                        }
                    }

                    &.toggle-container {
                        width: 51px;
                        height: 31px;
                        position: relative;
                        margin: 0px;

                        .component-title {
                            width: 100%;
                            position: absolute;
                            z-index: 999;
                            top: 30px;
                            left: 0;
                            padding: 0;
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 700;
                            color: #888;
                            text-align: center;
                        }

                        .checkbox {
                            opacity: 0;
                            width: 0;
                            height: 0;
                            position: absolute;

                            &:checked {
                                &+.switch {
                                    background-color: #34C759;

                                    .slider {
                                        left: calc(50% - 27px/2 + 10px);
                                        top: calc(50% - 27px/2);
                                    }
                                }
                            }
                        }

                        .switch {
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: #e9e9eb;
                            border-radius: 16px;
                            cursor: pointer;
                            transition: all 0.2s ease-out;
                        }

                        .slider {
                            width: 27px;
                            height: 27px;
                            position: absolute;
                            left: calc(50% - 27px/2 - 10px);
                            top: calc(50% - 27px/2);
                            border-radius: 50%;
                            background: #FFFFFF;
                            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
                            transition: all 0.2s ease-out;
                            cursor: pointer;
                        }
                    }
                }


                button[type=submit] {
                    margin-top: 3rem;
                    background: #FE7800;
                    border-radius: 8px;
                    height: 52px;
                    width: 332px;
                    border: 0px;
                    outline: 0px;
                    color: white;
                }
            }
        }
    }
}