<div class="events__wrapper-member__register">
  <div class="events__wrapper-member__register-back" (click)="redirectBackToVerify()">
    <img src="assets/svg/back-arrow.svg" alt="" srcset="">
  </div>
  <div class="events__wrapper-member__register-content">
    <form class="events__wrapper-member__register-form" [formGroup]="saveEventAttendingPersonDetails"
      (ngSubmit)="saveRegisterForm($event)">
      <div *ngIf="!isNextPage">
        <div class="events__wrapper-member__register-form__group">
          <input type="text" name="firstName" id="firstName" formControlName="firstName" placeholder="First Name"
            [ngClass]="{
          'required': isInvalidError(
            saveEventAttendingPersonDetailsControls['firstName'].errors
          )
        }">
          <app-common-error-message [submitted]=" submitted"
            [formControlErrors]="saveEventAttendingPersonDetailsControls"
            [formName]="'firstName'"></app-common-error-message>
        </div>
        <div class="events__wrapper-member__register-form__group">
          <input type="text" name="lastName" id="lastName" formControlName="lastName" placeholder="Last Name" [ngClass]="{
          'required': isInvalidError(
            saveEventAttendingPersonDetailsControls['lastName'].errors
          )
        }">
          <app-common-error-message [submitted]="submitted"
            [formControlErrors]="saveEventAttendingPersonDetailsControls"
            [formName]="'lastName'"></app-common-error-message>
        </div>
      </div>
      <div *ngIf="isNextPage">
        <div class="events__wrapper-member__register-form__group">
          <input type="text" id="dob" name="dob" formControlName="DOB" #DOB placeholder="Date of Birth (ddmmyy)"
            (change)="changeDob(DOB.value)" mask="d0/M0/0000" [leadZeroDateTime]="true" [ngClass]="{
          'required': isInvalidError(
            saveEventAttendingPersonDetailsControls['DOB'].errors
          )
        }">
          <app-common-error-message [submitted]="submitted"
            [formControlErrors]="saveEventAttendingPersonDetailsControls" [formName]="'DOB'"></app-common-error-message>
        </div>
        <div class="events__wrapper-member__register-form__group toggle">
          <h5>Are you attending Sabha ?</h5>
          <div class="events__wrapper-member__register-form__group toggle-container">
            <input (click)="isMemberAttendingSabha($event)" type="checkbox" class="checkbox" id="checkbox">
            <label class="switch" for="checkbox">
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="events__wrapper-member__register-form__group" *ngIf="!areYouAttendingSabha">
          <input type="text" id="refName" name="refName" formControlName="refName"
            placeholder="Reference Name : Jatin Chauhan" [ngClass]="{
                  'required': isInvalidError(
                    saveEventAttendingPersonDetailsControls['refName'].errors
                  )
                }">
          <app-common-error-message [submitted]="submitted"
            [formControlErrors]="saveEventAttendingPersonDetailsControls"
            [formName]="'refName'"></app-common-error-message>
        </div>
        <div class="events__wrapper-member__register-form__group" *ngIf="areYouAttendingSabha">
          <select class="form-select form-select-lg mb-3" id="sabhaId" name="sabhaId" formControlName="sabhaId"
            [ngClass]="{
          'required': isInvalidError(
            saveEventAttendingPersonDetailsControls['sabhaId'].errors
          )
        }">
            <option selected disabled value="null" class="option">Select Sabha</option>
            <option *ngFor="let item of sabhaList" [value]="item.id" class="option">{{item.title}}</option>
          </select>
          <app-common-error-message [submitted]="submitted"
            [formControlErrors]="saveEventAttendingPersonDetailsControls"
            [formName]="'sabhaId'"></app-common-error-message>
        </div>
      </div>
      <div class="events__wrapper-member__register-form__group">
        <button type="submit" id="cta" name="cta">{{ !isNextPage ? 'Next' :
          'Continue & Make Payment'
          }}</button>
      </div>
    </form>
  </div>
</div>