@import "../event-registration-details/event-registration-details.component.scss";



.event-registration {
    &__wrapper {

        &-verify {
            height: 100%;
            &__content {
                justify-content: space-between;            
                height: 96%;
                padding-bottom: 0px;
            }
        }
    }
}