<div class="event-registration__wrapper-existed-member">
    <div class="event-registration__wrapper-existed-member__content">
        <div class="event-registration__wrapper-existed-member__content-upper">
            <div class="event-registration__wrapper-existed-member__content-redirect">
                <a (click)="redirectBackToVerify()">
                    <svg width="43" height="38" viewBox="0 0 43 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_577)">
                            <path d="M8.95834 19H34.0417" stroke="white" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8.95834 19L19.7083 28.5" stroke="white" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8.95834 19L19.7083 9.5" stroke="white" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1_577">
                                <rect width="43" height="38" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="event-registration__wrapper-existed-member__content-title">Register yourself!</div>
            <div class="event-registration__wrapper-existed-member__content-member" *ngIf="memberPersonalInfo">
                <h4>{{memberPersonalInfo.firstName}} {{memberPersonalInfo.lastName}}</h4>
            </div>
        </div>
        <div class="event-registration__wrapper-existed-member__content-lower">
            <button (click)="saveExistedMemberForm()"
                class="event-registration__wrapper-existed-member__content-action">Register
                now</button>
        </div>
    </div>
</div>
<app-event-registration-thank-you-screen *ngIf="showThankYouPopUp" />