.events {
    position: relative;
    background: #fff;
    width: 375px;
    height: 90vh;
    margin: 0 auto;
    border-radius: 16px;
    font-family: 'Satoshi-Regular';
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 12px;
    }

    &::before {
        content: '';
        background: url('assets/svg/bg-circle.svg');
        top: 3rem;
        right: 8rem;
        position: absolute;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: blur(50px);
        transform: rotate(177deg);
    }

    &__wrapper {
        height: 100%;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 16px;

            &__title {
                font-weight: 900;
                font-size: 16px;
                line-height: 20px;
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                font-family: 'Satoshi-Black';
            }

            &__sub-title {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                margin-top: 0rem;
                margin-bottom: 0.5rem;
                font-family: 'Satoshi-Black';
            }

            &__info {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                font-family: 'Satoshi-Medium';


                span {
                    position: relative;

                    &::after {
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: #C2C1C1;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -1.3rem;
                        border-radius: 50%;
                    }

                    &:last-child::after {
                        display: none;
                    }
                }
            }
        }

    }

    /* SMARTPHONES POTRAIT */
    @media only screen and (max-width: 480px) {
        width: auto;
        height: -webkit-fill-available;
        margin: 0;
        border-radius: 0px;
        box-shadow: unset;
    }
}