<div class="events">
    <div class="events__wrapper">
        <div class="events__wrapper-content">
            <img class="events__wrapper-content__logo" src="assets/svg/hp-logo.svg" alt="" srcset="">
            <h4 class="events__wrapper-content__title">Prabodham Yuvak Mandal</h4>
            <h2 class="events__wrapper-content__sub-title">{{ currentRoute ? 'Register' : 'Picnic 2024' }}</h2>
            <p class="events__wrapper-content__info" *ngIf="!currentRoute">
                <span>Silent Hill Resort</span>
                <span>9th Jun’24</span>
                <span>₹1000</span>
            </p>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>